<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deeeelete.system.mapper.AclPathMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deeeelete.system.entity.AclPath">
        <id column="acpa_id" property="acpaId" />
        <result column="acpa_name" property="acpaName" />
        <result column="acpa_pid" property="acpaPid" />
        <result column="acpa_type" property="acpaType" />
        <result column="acpa_remark" property="acpaRemark" />
        <result column="is_deleted" property="isDeleted" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="acpa_path" property="acpaPath" />
        <result column="acpa_sort" property="acpaSort" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        acpa_id, acpa_name, acpa_pid, acpa_type, acpa_remark, is_deleted, gmt_create, gmt_modified,acpa_path,acpa_sort
    </sql>

</mapper>
