<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deeeelete.system.mapper.AclPathRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deeeelete.system.entity.AclPathRole">
        <id column="acpr_id" property="acprId" />
        <result column="acpr_path_id" property="acprPathId" />
        <result column="acpr_role_id" property="acprRoleId" />
        <result column="acpr_role_name" property="acprRoleName" />
        <result column="acpr_role_code" property="acprRoleCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        acpr_id, acpr_path_id, acpr_role_id, acpr_role_name, acpr_role_code
    </sql>

</mapper>
